body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.5em 0;
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 120%;
}

p {
    margin: 0 0 0.5em 0;
    line-height: 1.5;
}

a:link {
    color: #A68C1B;
    text-decoration: none;
}

a:visited {
    color: #4B1870;
    text-decoration: none;
}

a:focus {
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

#container {
    max-width: 80em;
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
}

header {
    color: black;
    background: #ccc;
    padding: 0;
    margin: 0;
    H1 {
        margin: 0;
        padding: 1em;
    }
}

header a:link, header a:visited, header a:hover, header a:active {
    color: black;
    text-decoration: none;
}

nav, footer {
    background: #ccc;
    padding: 0;
    color: black;
}

article {
    padding: 1ex;
}

nav {
	border-bottom: 2px solid black;
	background: white;
	padding: 0;
	margin: 0;
}

nav UL {
    margin: 0;
    padding: 1em;
    list-style: none;
}

nav li {
    float: left;
    margin: 0;
    padding: 0;
}

nav li a {
    padding: 0 1em;
    margin: 0;
    color: blue;
    text-decoration: none;
    
}

nav a:link {
    color: blue;
}

nav a:visited {
    color: blue;
}

nav a:focus {
    color: black;
    background-color: white;
}

nav a:hover, nav a.active:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

nav a:active {
    color: white;
    background-color: red;
}

nav a.active {
	border: 2px solid black;
	border-width: 2px 2px 0px 2px;
	background: white;
}

footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}

footer a:hover, footer a:active {
    color: white;
    text-decoration: underline;
}

@media ( min-width : 42em) {
    nav {
        padding: 1em 3em;
    }
    article {
        padding: 1em 1em 1em 3em;
        margin: 0;
    }
    footer {
        padding: 2em 3em;
    }
    nav li {
        display: inline;
        margin: 0 1em 0 0;
    }
    nav li a {
        display: inline;
        padding: 1em;
        border-bottom: 0;
    }
}
