<!DOCTYPE html>
<html lang="en">
<head>
        <title>Hugo/JavaScript Experiments</title>
        <meta charset="utf-8" />
        {{ $sass := resources.Get "assets/style.scss" }}
        {{ $style := $sass | toCSS }}
        <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" />
        <script type="text/javascript" src="{{ "assets/jquery-3.3.1.min.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "assets/main.js" | relURL }}"></script>
</head>

<body>
    <div id="container">
        <header id="banner">
                <h1><a href="{{ "/" | relURL }}">Hugo/JavaScript Experiments</a></h1>
        </header>
        <div id="main">
	        <nav id="menu">
	            <ul>
	            	{{ $currentPage := . }}
	                {{ range sort .Site.Menus.main }}
	                    {{ $reallyRelativeUrl := strings.TrimPrefix .Page.Site.BaseURL ( .Page.Permalink | absURL ) }}
                        <li><a href="{{ .URL }}" data-tab-url="{{ ( path.Join "tabs/" $reallyRelativeUrl ) | relURL }}"  class="tab {{ if $currentPage.IsMenuCurrent "main" . }}active {{ end }}">{{ .Name }}</a></li>
                    {{ end }}
		        </ul>
	        </nav>
            <article id="content">
            	<div id="replace-me">
                {{- block "main" . }}{{- end }}
                </div>
            </article>
        </div>
        <footer>
                <address>
                This is footer.
                </address>
        </footer>
   </div>
</body>
</html>
